/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set basic styles for body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f9fc;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

/* Container styles */
.container {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 600px;
    width: 100%;
    border: 1px solid #e0e0e0;
}

/* Heading styles */
h1 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #2c3e50;
    text-align: center;
    font-weight: 600;
}

/* Description styles */
.app-description {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
    line-height: 1.6;
    padding: 10px;
    border-left: 4px solid #0077cc;
    background-color: #eef7ff;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

/* Input and select styles */
input[type="number"],
input[type="date"],
select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="number"]:focus,
input[type="date"]:focus,
select:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
    outline: none;
}

/* Income-entry styles */
.income-entry {
    display: grid;
    grid-template-columns: 200px 100px 150px 50px;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

/* Button Add Income */
#add-income {
    margin-bottom: 10px;
    padding: 12px;
    background-color: transparent;
    border: 2px solid #007bff; /* Голубой обод */
    color: #007bff;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, color 0.3s;
}

#add-income:hover {
    background-color: rgba(0, 123, 255, 0.1); /* Легкий голубой оттенок при наведении */
    color: #0056b3; /* Темнее при наведении */
}

#add-income:active {
    transform: scale(0.98); /* Небольшая анимация при нажатии */
}

/* Button for removing an entry */
.remove-income {
    background-color: transparent;
    border: 2px solid #ff0000;
    color: #ff0000;
    padding: 10px 10px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.remove-income:hover {
    background-color: rgba(255, 0, 0, 0.1);
    color: #b30000;
}

.remove-income:active {
    transform: scale(0.98);
}

/* Button styles */
button {
    padding: 12px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    transform: scale(0.98);
}

/* Results section styles */
#results {
    margin-top: 20px;
    border-top: 1px solid #e0e0e0;
    padding-top: 15px;
}

/* Paragraph styles within results */
#results p {
    margin-bottom: 12px;
    font-size: 18px;
    color: #34495e;
}

.copyable {
    cursor: pointer;
    color: #007bff;
    transition: color 0.2s;
}

.copyable:hover {
    color: #0056b3;
}

.copy-msg {
    color: red;
    font-size: 0.9em;
    margin-left: 10px;
    display: none; /* Initially hidden */
}

/* Responsive design */
@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 24px;
    }

    input[type="number"],
    input[type="date"],
    select,
    button {
        font-size: 10px;
    }

    .income-entry {
        display: grid;
        grid-template-columns: 100px 70px 100px 25px;
        gap: 10px;
        align-items: center;
        margin-bottom: 10px;
    }

    .remove-income {
        padding: 5px 5px;
        margin-left: 0px;
    }
}
